node_modules
/.env
dist
DEPLOYMENT.md
EXERCISE_SELECTION_LOGIC_UPDATE.md
MEAL_PLAN_BUSINESS_RULES.md
RAG_SYSTEM_EXPLANATION.md
REFACTOR_SUMMARY_MEAL_PLAN.md
TEST_CASES_EXERCISE_SELECTION.md
NT_GymMate.pem
.env
.env.prod